@model IEnumerable<ApplicationUser>

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Users list</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">
                <i class="fas fa-plus"></i> New user registration
            </a>
        </div>
    </div>
    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(x => x.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Email)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.PhoneNumber)
            </th>
            <th>
               
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(x => item.PhoneNumber)
                </td>
                <td>
                    @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                    {
                        <a class="btn btn-success text-white" asp-action="Lock" asp-route-id="@item.Id">
                            <i class="fas fa-lock-open"></i>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-danger text-white" asp-action="UnLock" asp-route-id="@item.Id">
                            <i class="fas fa-lock"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </table>
</div>
